:root {
  --background-color: #f6eee3;
  --foreground-color: #161514;
  --foreground-color-light: #757575;
  --rule-color: #0000001c;

  --font-size-tiny: 12px;
  --font-size-small: 14px;
  --font-size-default: 16px;

  --font-family-heading: 'Poppins', sans-serif;
  --font-family-default: 'Inter', sans-serif;
  --font-family-monospace: 'Ubuntu Mono Arrowized', monospace;

  --link-color: #3866e9;
  --link-color-visited: #5238e9;

  --navigation-height: 40px;

  --padding-miniscule: 7px;
  --padding-little: 14px;
  --padding-lots: 24px;

  /* Used in Viz Page only */
  --head-height: 30px;

  /* Intent is to use the same box shadow and border radius everywhere. */
  --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  --border-radius: 4px;

  /* Homage to bl.ocks.org. */
  --content-max-width: 960px;

  --z-index-above: 10;

  --code-background: #202e46;
  --code-foreground: #e2e2e2;
}

[data-theme='dark'] {
  --foreground-color: white;
  --background-color: #161514;
}
/* TODO variable for monospace font */
