.topbar {
  height: 30px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding-right: var(--bs-gutter-x, 0.75rem);

  button.flat {
    padding: 0;
    border-radius: 0;
    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
    &:active {
      background-color: rgba(0, 0, 0, 0.1);
    }
    &.editor-toggle {
      padding-right: 0.75rem;
    }
  }
}
