.viz-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  .topbar {
    height: 30px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 0.75rem 0 $input-btn-focus-width;

    // TODO Make the focus glow of topbar buttons visible.
    // z-index: $zindex-sticky; <-- This introduces a bug with the menu. See https://github.com/vizhub-open-core/vizhub/issues/492

    button.flat {
      border-radius: 0;
      padding: 0;
      &.editor-toggle {
        font-weight: bold;
        padding-right: 0.75rem;
      }
      .editor-toggle-icon {
        margin-left: -0.15rem;
      }
    }
    .topbar-right {
      display: flex;
    }
  }
  .vertical-split {
    flex: 1;
    display: flex;
    height: 100%;
    .editor-sidebar {
      // Full width on mobile.
      width: 100%;
      @include media-breakpoint-up(sm) {
        width: 200px;
      }

      // Hidden on mobile when a file is open.
      &.file-is-open {
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }

      font-family: $font-family-monospace;

      display: flex;
      flex-direction: column;
      background-color: $vizhub-editor-bg-dark;
      .editor-items {
        background-color: $vizhub-editor-bg-light;
        .editor-item {
          color: $vizhub-editor-color;
          padding: 0 0.75rem;
          display: flex;
          align-items: center;
          height: $vizhub-editor-entry-height;
        }
      }
    }
    .editor-content {
      flex: 1;
      flex-direction: column;
      background-color: $vizhub-editor-bg-darkest;
      font-family: $font-family-monospace;
      color: $vizhub-editor-color;
      .editor-content-header {
        height: $vizhub-editor-entry-height;
        background-color: $vizhub-editor-bg-darker;
        display: flex;
        justify-content: space-between;
        .header-left {
          padding-left: 0.75rem;
          display: flex;
          align-items: center;
        }
      }
    }
    .vertical-split-right {
      &.editor-is-open {
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }

      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
      min-width: 0;
      height: 100%;
      overflow: auto;

      .viz-viewer {
        /* Scale horizontally when width < max-width. */
        width: 100%;

        /* Ensure that the _inner_ content has max-width: $vizhub-content-max-width, */
        /* while the _outer_ content shrinks to preserve 10px horizontal padding. */
        max-width: calc($vizhub-content-max-width + 2 * $vizhub-padding-little);
        padding: $vizhub-padding-little;

        svg.viz-frame {
          background-color: white;
          border-radius: $border-radius;
          box-shadow: $vizhub-box-shadow;

          /* This in conjunction with viewBox causes */
          /* the rectangle to fill the appropriate width */
          /* _and_ preserve aspect ratio.*/
          width: 100%;
        }
        .title {
          padding: $vizhub-padding-lots 0px;
          border-bottom: 1px solid $vizhub-rule-color;
        }
      }
    }
  }
}

// A clickable element, with darkened background
// for hover and active states.
.clickable {
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.06);
  }
  &:active {
    background-color: rgba(0, 0, 0, 0.12);
  }
}
