:root {
  --background-color: #f6eee3;
  --foreground-color: #161514;
  --foreground-color-light: #757575;
  --rule-color: #0000001c;

  /* Inspired by GitHub system font stack. */
  --font-family-ui: -apple-system, blinkmacsystemfont, segoe ui, helvetica,
    arial, sans-serif, apple color emoji, segoe ui emoji;
  --font-family-monospace: ui-monospace, SFMono-Regular, SF Mono, Menlo,
    Consolas, Liberation Mono, monospace;

  /* --font-size-tiny: 12px; */
  --font-size-small: 14px;
  --font-size-default: 16px;
  --font-size-large: 20px;

  --link-color: #3866e9;
  --link-color-visited: #4f62e6;

  --padding-miniscule: 7px;
  --padding-little: 10px;
  --padding-lots: 20px;

  /* Intent is to use the same box shadow and border radius everywhere. */
  --box-shadow: rgb(0 0 0 / 15%) 0px 1px 4px 0px;
  --border-radius: 3px;

  /* Homage to bl.ocks.org. */
  --content-max-width: 960px;

  --code-background: #202e46;
  --code-foreground: #e2e2e2;

  /* Height of the topmost navigation bar. */
  --navigation-height: 40px;

  /* --z-index-above: 10; */

  /* "Flat Buttons" are buttons throughout the VizHub UI */
  /* that blend in with their surroundings, do not have rounded corners, */
  /* and fill the vertical space of their containing element. */
  --flatButtonHoverBackground: rgba(0, 0, 0, 0.05);
  --flatButtonActiveBackground: rgba(0, 0, 0, 0.1);
}

/*
[data-theme='dark'] {
  --foreground-color: white;
  --background-color: #161514;
}
*/
