@use './VizPage/Readme/markdown-body';
@use './Editor/styles';

.viz-page {
  display: flex;
  flex-direction: column;

  /* TODO move navigation to vizhub-core package. */
  .navigation {
    height: var(--navigation-height);
    width: 100%;
    background-color: black;
  }

  .head {
    height: 30px;
    width: 100%;
    background-color: white;
  }

  .vertical-split {
    display: flex;
    .vertical-split-left {
      display: flex;
    }
    .vertical-split-right {
      display: flex;

      .viz-viewer {
        /* Scale horizontally when width < max-width. */
        width: 100%;

        /* Ensure that the _inner_ content has max-width: var(--content-max-width), */
        /* while the _outer_ content shrinks to preserve 10px horizontal padding. */
        max-width: calc(var(--content-max-width) + 2 * var(--padding-little));
        padding: var(--padding-little);

        svg.viz-frame {
          background-color: white;
          border-radius: var(--border-radius);
          box-shadow: var(--box-shadow);

          /* This in conjunction with viewBox causes */
          /* the rectangle to fill the appropriate width */
          /* _and_ preserve aspect ratio.*/
          width: 100%;
        }
        .title {
          padding: var(--padding-lots) 0px;
          font-size: var(--font-size-large);
          border-bottom: 1px solid var(--rule-color);
        }
      }
    }
  }
}
