body {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  overflow: hidden;
}

line {
  fill: none;
  stroke: #349277;
}

text {
  text-shadow:
   -1px -1px 3px white,
   -1px  1px 3px white,
    1px -1px 3px white,
    1px  1px 3px white;
  pointer-events: none;
  font-family: 'Playfair Display', serif;
}