/* This is the custom CSS added to the VizHub blog. */


:root {
	--global--font-primary: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
	--global--font-secondary: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
	--global--font-size-page-title: var(--global--font-size-xl);
}

.discourse-comments-area {
    max-width: var(--responsive--aligndefault-width);
    margin-left: auto;
    margin-right: auto;
}

.discourse-comments-area .avatar {
    border-radius: 100%;
}

.discourse-comments-area .comment-reply-title, .discourse-participants {
    font-size: var(--global--font-size-sm);
}

.comment-author {
	display: flex;
	align-items: center;
}

.comment-author img {
	margin-right: 10px;
}

.discourse-comments-title {
	font-size: var(--global--font-size-lg);
}
