body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  margin: 0;
}

@font-face {
  font-family: 'Ubuntu Mono Arrowized';
  src: url('https://cdn.jsdelivr.net/npm/ubuntu-mono-ligaturized@3.0.0/arrowized/UbuntuMonoLigaturized-Regular.woff2')
    format('woff2');
}

.monospace {
  font-family: 'Ubuntu Mono Arrowized';
  font-size: 16px;
}
