.home-page {
  display: flex;

  /* TODO responsive breakpoints adjustments. */
  padding: 4px;

  .viz-preview-collection {
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;

    /* TODO responsive breakpoints adjustments. */
    gap: 8px;
  }
}
