a {
  color: var(--link-color);
  text-decoration: none;
  display: inline-block;
}

a:visited {
  color: var(--link-color-visited);
}

a:hover {
  text-decoration: underline;
}

a:active {
  transform: translateY(1px);
}
