/* Inspired by GitHub README styling. */
.markdown-body {
  line-height: 1.5;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-family-heading);
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px;
    margin-top: 24px;
  }

  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.875em;
  }

  h6 {
    font-size: 0.85em;
    color: var(--foreground-color-light);
  }

  h1,
  h2 {
    border-bottom: 1px solid var(--rule-color);
    padding-bottom: 0.3em;
  }

  hr {
    border: none;
    height: 2px;
    background-color: var(--rule-color);
  }

  blockquote,
  details,
  dl,
  ol,
  p,
  pre,
  table,
  ul {
    margin-bottom: 16px;
    margin-top: 0;
  }

  img {
    border-style: none;
  }

  code,
  kbd,
  pre {
    font-family: var(--font-family-monospace);
    font-size: 1em;
  }

  pre {
    background-color: white;
    border-radius: var(--border-radius);
    line-height: 1.45;
    overflow: auto;
    padding: 16px;
    box-shadow: var(--box-shadow);
  }
}
