:root {
  --background-color: #f6eee3;
  --foreground-color: #161514;

  --link-color: #3866e9;
  --link-color-visited: #5238e9;

  --navigation-height: 40px;
}

[data-theme='dark'] {
  --foreground-color: white;
  --background-color: #161514;
}
