:root {
  --background-color: #f6eee3;
  --foreground-color: #161514;

  --link-color: #3866e9;
  --link-color-visited: #5238e9;

  --navigation-height: 40px;

  /* Used in Viz Page only */
  --head-height: 30px;

  /* Intent is to use the same box shadow and border radius everywhere. */
  --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  --border-radius: 4px;
}

[data-theme='dark'] {
  --foreground-color: white;
  --background-color: #161514;
}
