.viz-preview {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);

  .thumbnail {
    width: 300px;
    height: 170px;
    background-position: left top;
    background-size: cover;
  }

  .content-container {
    padding: 24px 24px 30px 24px;
    .last-updated-date {
      color: #828282;
      font-size: 12px;
      padding-bottom: 4px;
    }

    .title {
      color: var(--foreground-color);
      font-family: Poppins;
      font-weight: 600;
    }
  }
}
