.viz-preview {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  width: 300px;

  .thumbnail {
    width: 300px;
    height: 170px;
    background-position: left top;
    background-size: cover;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    padding: 24px 24px 30px 24px;

    .last-updated-date {
      color: var(--foreground-color-light);
      font-size: var(--font-size-tiny);
      padding-bottom: 4px;
    }

    .title {
      color: var(--foreground-color);
      font-family: Poppins;
      font-weight: 600;
    }
  }
  .meta-container {
    border-top: 1px solid var(--rule-color);
    font-size: var(--font-size-small);
    .author-avatar-image {
    }
  }
}
