:root {
  --background-color: #f6eee3;
  --foreground-color: #161514;
  --link-color: #3866e9;
  --link-color-visited: #5238e9;
  --navigation-height: 40px;
  /* Used in Viz Page only */
  --head-height: 30px;
  /* Intent is to use the same box shadow and border radius everywhere. */
  --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  --border-radius: 4px;
}

[data-theme=dark] {
  --foreground-color: white;
  --background-color: #161514;
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  margin: 0;
}

@font-face {
  font-family: "Ubuntu Mono Arrowized";
  src: url("https://cdn.jsdelivr.net/npm/ubuntu-mono-ligaturized@3.0.0/arrowized/UbuntuMonoLigaturized-Regular.woff2") format("woff2");
}
.monospace {
  font-family: "Ubuntu Mono Arrowized";
  font-size: 16px;
}

a {
  color: var(--link-color);
  text-decoration: none;
  display: inline-block;
}

a:visited {
  color: var(--link-color-visited);
}

a:active {
  transform: translateY(1px);
}

.navigation {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 0 4px;
  height: var(--navigation-height);
  background-color: var(--background-color);
  color: var(--foreground-color);
}

.home-page {
  display: flex;
  /* TODO responsive breakpoints adjustments. */
  padding: 4px;
}
.home-page .viz-preview-collection {
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  /* TODO responsive breakpoints adjustments. */
  gap: 8px;
}

.viz-page {
  display: flex;
  flex-direction: row;
  /* TODO make the sidebar full width on mobile. */
  /* TODO hide content entirely when sidebar is open on mobile. */
}
.viz-page .head {
  background-color: white;
  height: var(--head-height);
}
.viz-page .content-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}
.viz-page .content {
  /* TODO get this to center, add padding */
  max-width: 960px;
  background-color: white;
  flex: 1;
}
.viz-page .sidebar {
  width: 170px;
  background-color: #5b677d;
}

.viz-preview {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}
.viz-preview .thumbnail {
  width: 300px;
  height: 170px;
  background-position: left top;
  background-size: cover;
}
.viz-preview .content-container {
  padding: 24px 24px 30px 24px;
}
.viz-preview .content-container .last-updated-date {
  color: #828282;
  font-size: 12px;
  padding-bottom: 4px;
}
.viz-preview .content-container .title {
  color: var(--foreground-color);
  font-family: Poppins;
  font-weight: 600;
}