:root {
  --background-color: #f6eee3;
  --foreground-color: #161514;
  --link-color: #3866e9;
  --link-color-visited: #5238e9;
  --navigation-height: 40px;
}

[data-theme=dark] {
  --foreground-color: white;
  --background-color: #161514;
}

body {
  background-color: var(--background-color);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  color: var(--foreground-color);
  font-size: 16px;
  margin: 0;
}

.monospace {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Consolas, Liberation Mono, Menlo, monospace;
}

a {
  color: var(--link-color);
  text-decoration: none;
  display: inline-block;
}

a:visited {
  color: var(--link-color-visited);
}

a:hover {
  text-decoration: underline;
}

a:active {
  transform: translateY(1px);
}

.navigation {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 0 4px;
  height: var(--navigation-height);
  background-color: var(--background-color);
  color: var(--foreground-color);
}

.content-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}

.content {
  /* TODO get this to center, add padding */
  max-width: 960px;
  background-color: white;
  flex: 1;
}

.sidebar {
  width: 170px;
  background-color: #5b677d;
}

/* TODO make the sidebar full width on mobile. */
/* TODO hide content entirely when sidebar is open on mobile. */
.viz-page-wrapper {
  display: flex;
  flex-direction: row;
}