:root {
  --background-color: #f6eee3;
  --foreground-color: #161514;
  --foreground-color-light: #828282;
  --rule-color: #e4e4e4;
  --font-size-tiny: 12px;
  --font-size-small: 14px;
  --font-size-default: 16px;
  --link-color: #3866e9;
  --link-color-visited: #5238e9;
  --navigation-height: 40px;
  /* Used in Viz Page only */
  --head-height: 30px;
  /* Intent is to use the same box shadow and border radius everywhere. */
  --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  --border-radius: 4px;
}

[data-theme=dark] {
  --foreground-color: white;
  --background-color: #161514;
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: "Inter", sans-serif;
  font-size: var(--font-size-default);
  margin: 0;
}

@font-face {
  font-family: "Ubuntu Mono Arrowized";
  src: url("https://cdn.jsdelivr.net/npm/ubuntu-mono-ligaturized@3.0.0/arrowized/UbuntuMonoLigaturized-Regular.woff2") format("woff2");
}
.monospace {
  font-family: "Ubuntu Mono Arrowized";
  font-size: 16px;
}

a {
  color: var(--link-color);
  text-decoration: none;
  display: inline-block;
}

a:visited {
  color: var(--link-color-visited);
}

a:active {
  transform: translateY(1px);
}

.navigation {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 0 4px;
  height: var(--navigation-height);
  background-color: var(--background-color);
  color: var(--foreground-color);
}

.home-page {
  display: flex;
  /* TODO responsive breakpoints adjustments. */
  padding: 24px 4px;
  /* Inspired by http://getskeleton.com/#queries */
  /* Larger than mobile */
  /* Larger than phablet */
  /* Larger than tablet */
  /* Larger than desktop */
  /* Larger than Desktop HD */
}
@media (min-width: 400px) {
  .home-page {
    padding: 24px 8px;
  }
}
@media (min-width: 550px) {
  .home-page {
    padding: 24px 16px;
  }
}
@media (min-width: 750px) {
  .home-page {
    padding: 32px;
  }
}
@media (min-width: 1000px) {
  .home-page {
    padding: 64px;
  }
}
@media (min-width: 1200px) {
  .home-page {
    padding: 84px;
  }
}
.home-page .viz-preview-collection {
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  /* TODO responsive breakpoints adjustments. */
  gap: 24px;
}

.viz-page {
  display: flex;
  flex-direction: row;
  /* TODO make the sidebar full width on mobile. */
  /* TODO hide content entirely when sidebar is open on mobile. */
}
.viz-page .head {
  background-color: white;
  height: var(--head-height);
}
.viz-page .content-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}
.viz-page .content {
  /* TODO get this to center, add padding */
  max-width: 960px;
  background-color: white;
  flex: 1;
}
.viz-page .sidebar {
  width: 170px;
  background-color: #5b677d;
}

.viz-preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  width: 300px;
  color: var(--foreground-color);
  /* Center a single column on mobile. */
  margin: 0px auto;
  /* Match page margins on desktop. */
}
@media (min-width: 670px) {
  .viz-preview {
    margin: 0px;
  }
}
.viz-preview .thumbnail {
  width: 300px;
  height: 170px;
  background-position: left top;
  background-size: cover;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}
.viz-preview .content-container {
  display: flex;
  flex-direction: column;
  padding: 24px 24px 30px 24px;
}
.viz-preview .content-container .last-updated-date {
  color: var(--foreground-color-light);
  font-size: var(--font-size-tiny);
  padding-bottom: 4px;
}
.viz-preview .content-container .title {
  font-family: Poppins;
  font-weight: 600;
  /* Truncate text at 2 lines. */
  /* Inspired by https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-line-clamp */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.viz-preview .meta-container {
  display: flex;
  align-items: center;
  padding: 16px 14px;
  border-top: 1px solid var(--rule-color);
  font-size: var(--font-size-small);
}
.viz-preview .meta-container .owner-avatar-image {
  width: 28px;
  height: 28px;
  border-radius: 14px;
}
.viz-preview .meta-container .owner-name {
  margin-left: 12px;
}