// Inspired by:
// https://getbootstrap.com/docs/5.1/customize/sass/
// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "./node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

$font-family-sans-serif: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
$body-color: #161514;
$body-bg: #f6eee3;
$primary: #3866e9;
$border-radius: .4rem;
$input-bg: transparent;
$modal-content-border-width: 0;

// Define a custom box shadow for modal.
$box-shadow-vizhub: rgb(0 0 0 / 15%) 0px 1px 4px 0px;
.modal-content {
  box-shadow: $box-shadow-vizhub;
}
// Make modal titles bold.
.modal-title {
  font-weight: bold;
}

// Custom close icon.
$btn-close-bg: url("data:image/svg+xml,<svg viewBox='12 12 24 24' fill='#{$body-color}'><path d='M32.97 12.63 24 21.6l-8.97-8.97a1.7 1.7 0 0 0-2.4 2.4L21.6 24l-8.97 8.97a1.7 1.7 0 0 0 2.4 2.4L24 26.4l8.97 8.97a1.7 1.7 0 0 0 2.4-2.4L26.4 24l8.97-8.97a1.7 1.7 0 0 0-2.4-2.4z'/></svg>");

$input-btn-focus-width: .2rem;

// Pills with underlines instead of buttons.
$nav-pills-link-active-color: $body-color;
$nav-pills-link-active-bg: transparent;

// 3. Include remainder of required Bootstrap stylesheets
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/root";

// 4. Include any optional Bootstrap components as you like
@import "./node_modules/bootstrap/scss/utilities";
@import "./node_modules/bootstrap/scss/reboot";
@import "./node_modules/bootstrap/scss/type";
//@import "./node_modules/bootstrap/scss/images";
@import "./node_modules/bootstrap/scss/containers";
@import "./node_modules/bootstrap/scss/grid";
//@import "./node_modules/bootstrap/scss/tables";
@import "./node_modules/bootstrap/scss/forms";
@import "./node_modules/bootstrap/scss/buttons";
@import "./node_modules/bootstrap/scss/transitions";
//@import "./node_modules/bootstrap/scss/dropdown";
//@import "./node_modules/bootstrap/scss/button-group";
@import "./node_modules/bootstrap/scss/nav";
@import "./node_modules/bootstrap/scss/navbar";
//@import "./node_modules/bootstrap/scss/card";
//@import "./node_modules/bootstrap/scss/accordion";
//@import "./node_modules/bootstrap/scss/breadcrumb";
//@import "./node_modules/bootstrap/scss/pagination";
//@import "./node_modules/bootstrap/scss/badge";
//@import "./node_modules/bootstrap/scss/alert";
//@import "./node_modules/bootstrap/scss/progress";
//@import "./node_modules/bootstrap/scss/list-group";
@import "./node_modules/bootstrap/scss/close";
//@import "./node_modules/bootstrap/scss/toasts";
@import "./node_modules/bootstrap/scss/modal";
//@import "./node_modules/bootstrap/scss/tooltip";
//@import "./node_modules/bootstrap/scss/popover";
//@import "./node_modules/bootstrap/scss/carousel";
//@import "./node_modules/bootstrap/scss/spinners";
//@import "./node_modules/bootstrap/scss/offcanvas";
//@import "./node_modules/bootstrap/scss/placeholders";

// 5. Add additional custom code here

// Custom things in forms
.vizhub-form-note{
  font-size: 14px;
  color: rgb(121, 121, 121);
  &.contextual {
    font-weight: bold;
    padding-bottom: 1rem;
  }
  &.informational {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
}

.nav-pills .nav-link {
  padding: $input-padding-y $input-padding-x;
  &,
  &:hover,
  &:focus {
    color: $body-color;
  }
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: $primary;
  border-radius: 0px;
}

@import "./node_modules/bootstrap/scss/helpers";
@import "./node_modules/bootstrap/scss/utilities/api";
