.viz-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  /* https://stackoverflow.com/questions/38382734/flex-items-not-shrinking-when-window-gets-smaller */
  min-height: 0;

  &-split {
    flex: 1;
    display: flex;
    height: 100%;
    min-height: 0;
  }
}
.topbar {
  /* Oddity, height was not working without this. */
  flex-shrink: 0;

  height: 30px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 0.75rem 0 0;

  &-editor-toggle {
    height: 30px;
    font-weight: bold;
    padding: 0 0.75rem 0 0;
    display: flex;
    align-items: center;
  }

  &-part {
    display: flex;
    align-items: center;
  }
}

.editor-sidebar {
  // Full width on mobile.
  width: 100%;
  @media (min-width: 576px) {
    width: 200px;
  }

  font-family: var(--vizhub-font-family-monospace);
  font-size: var(--vizhub-font-size-monospace);

  display: flex;
  flex-direction: column;
  background-color: var(--vizhub-editor-bg-dark);
  &-items {
    background-color: var(--vizhub-editor-bg-light);
  }
  &-item {
    color: var(--vizhub-editor-color);
    padding: 0 0.75rem;
    display: flex;
    align-items: center;
    height: var(--vizhub-editor-entry-height);
    border-left: 5px solid transparent;
    &:hover,
    &:focus {
      color: var(--vizhub-editor-color);
    }
    &.active {
      border-left: 5px solid white;
    }
  }
}
.editor-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--vizhub-editor-bg-darkest);
  font-family: var(--vizhub-font-family-monospace);
  font-size: var(--vizhub-font-size-monospace);
  color: var(--vizhub-editor-color);
  min-width: 0;
  /*width: 580px; /* Fits 60 chars */
  &-header {
    height: var(--vizhub-editor-entry-height);
    background-color: var(--vizhub-editor-bg-dark);
    display: flex;
    justify-content: space-between;

    &-left {
      padding-left: 0.75rem;
    }
    &-left,
    &-right {
      display: flex;
      align-items: center;
    }
  }
  &-code-editor {
    flex: 1;
    min-height: 0px;

    .cm-editor {
      height: 100%;
    }
    .cm-editor.cm-focused {
      outline: 0;
      box-shadow: inset 0 0 0 1px #fff;
    }
    .cm-editor .cm-content {
      font-family: var(--vizhub-font-family-monospace);
      font-size: var(--vizhub-font-size-monospace);
    }
    .cm-line {
      padding: 0 2px 0 12px;
    }
    /* TODO style cursor */
  }
}

.vertical-split-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  min-width: 0;
  height: 100%;
  overflow: auto;

  .viz-viewer {
    /* Scale horizontally when width < max-width. */
    width: 100%;

    /* Ensure that the _inner_ content has max-width: vizhub-content-max-width, */
    /* while the _outer_ content shrinks to preserve 10px horizontal padding. */
    max-width: calc(
      var(--vizhub-content-max-width) + 2 * var(--vizhub-padding-little)
    );
    padding: var(--vizhub-padding-little);

    .viz-frame {
      position: relative;
      svg {
        background-color: white;
        border-radius: var(--vizhub-border-radius);
        box-shadow: var(--vizhub-box-shadow);

        /* This in conjunction with viewBox causes */
        /* the rectangle to fill the appropriate width */
        /* _and_ preserve aspect ratio.*/
        width: 100%;
      }
      iframe {
        position: absolute;
        left: 0;
      }
    }
    .title {
      padding: var(--vizhub-padding-lots) 0px;
      border-bottom: 1px solid var(--vizhub-rule-color);
    }
  }
}
