body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
  margin: 0;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Ubuntu Mono Arrowized';
  src: url('https://cdn.jsdelivr.net/npm/ubuntu-mono-ligaturized@3.0.0/arrowized/UbuntuMonoLigaturized-Regular.woff2')
    format('woff2');
}
