//@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Ubuntu+Mono&display=swap');
//$font-family-sans-serif: 'Ubuntu', sans-serif;
//$font-family-monospace: 'Ubuntu Mono', monospace;;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
  Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
$font-family-monospace: 'Ubuntu Mono Ligaturized', 'Ubuntu Mono', ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
  Liberation Mono, monospace;
$body-color: #161514;
$body-bg: #f6eee3;
$primary: #3866e9;
$border-radius: 0.4rem;
$input-bg: transparent;
$modal-content-border-width: 0;

// The outline that appears on focus.
$input-btn-focus-width: 1px;

// Custom close icon.
$btn-close-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='12 12 24 24'><path d='M32.97 12.63 24 21.6l-8.97-8.97a1.7 1.7 0 0 0-2.4 2.4L21.6 24l-8.97 8.97a1.7 1.7 0 0 0 2.4 2.4L24 26.4l8.97 8.97a1.7 1.7 0 0 0 2.4-2.4L26.4 24l8.97-8.97a1.7 1.7 0 0 0-2.4-2.4z'/></svg>");
$btn-close-opacity: 1;

// Pills with underlines instead of buttons.
$nav-pills-link-active-color: $body-color;
$nav-pills-link-active-bg: transparent;

// Custon navbar colors.
$navbar-dark-color: rgba(white, 0.7);
$navbar-dark-hover-color: white;

// Custom background color for dropdowns on hover.
$dropdown-link-hover-bg: #3866e933;

$dark: black;

$dropdown-link-color: #161514;
$navbar-nav-link-padding-x: 0.75rem;
$navbar-padding-y: 0.25rem;
