.profile-page {
  overflow: auto;

  &__avatar {
    width: 80px;
    height: 80px;
  }

  &__full-name {
    font-weight: bold;
    font-size: var(--vizhub-h3-font-size);
  }

  &__user-name {
    color: var(--vizhub-foreground-color-light);
    font-size: var(--vizhub-small-font-size);
  }
}
