.profile-page {
  overflow: auto;

  &__avatar {
    width: 80px;
    height: 80px;
  }

  &__full-name {
    font-weight: bold;
    font-size: $h3-font-size;
  }

  &__user-name {
    color: $vizhub-foreground-color-light;
    font-size: $small-font-size;
  }
}
